/* ================= QUALIFICATION SECTION ================= */
#qualification {
    padding: 4rem 2rem;
    text-align: center;
}

.qualification__loading {
    align-content: center;
    justify-self: center;
    font-size: 1.2rem;
}

.qualification__tabs {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 1rem;
    padding-top: 4rem;
}

.qualification__tabs button {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 0.90rem;
    color: var(--color-white);
    background: none;
    border: none;
    cursor: pointer;
    transition: var(--transition-2);
}

.qualification__tabs button.active {
    color: var(--color-light);
    border-bottom: 3px solid var(--color-light);
}

.qualification__timeline {
    position: relative;
    max-width: 800px;
    margin: 0 auto;

}

.qualification__timeline::after {
    content: "";
    position: absolute;
    width: 4px;
    background: var(--color-primary);
    top: 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.qualification__item {
    position: relative;
    margin: 1rem 0;
    display: flex;
    align-items: center;
}

.qualification__dot {
    position: absolute;
    width: 16px;
    height: 16px;
    background: var(--color-primary);
    border-radius: 50%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 0;
}

.qualification__content {
    width: 45%;
    background: var(--color-primary-variant);
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 1;
}

.qualification__content.left {
    text-align: right;
    margin-right: 55%;
    z-index: 0;
}

.qualification__connector {
    position: absolute;
    height: 2px;
    width: 38px;
    background: var(--color-primary);
    top: 50%;
    transform: translateY(50%);
    z-index: 0;
}

.qualification__content.left .qualification__connector {
    left: 100%;
    bottom: -10px;
}

.qualification__content.right .qualification__connector {
    right: 100%;
    bottom: -10px;
}

.qualification__content.right {
    text-align: left;
    margin-left: 55%;
}

.qualification__content h3 {
    color: var(--color-light);
    text-align: start;
    font-size: 18px;
    font-weight: 500;
}

.qualification__content p {
    color: var(--color-primary);
    text-align: center;
    margin-top: 0.5rem;
    font-size: 12px;
    font-weight: 500;
}

.qualification__meta {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 0.7rem;
    color: var(--color-light);
    margin-top: 0.5rem;
    justify-content: center;
}

.qualification__calendar {
    display: flex;
    align-items: center;
    gap: 0.3rem;
}

.qualification__separator {
    opacity: 0.7;
}

.work-type-tag {
    background: var(--color-bg-work-type);
    padding: 0.2rem 0.5rem;
    border-radius: 4px;
    font-size: 0.65rem;
    text-transform: capitalize;
}

/* ================= POPUP STYLES ================= */
.qualification__popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--color-bg-popup);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    transition: var(--transition);
}

.qualification__popup.active {
    opacity: 1;
    visibility: visible;
}

.qualification__popup__content {
    background: var(--color-bg-variant);
    padding: 2rem;
    border-radius: 10px;
    position: relative;
    max-width: 600px;
    width: 90%;
    box-shadow: 0 4px 20px var(--color-approved)
        /*rgba(0, 0, 0, 0.3)*/
    ;
    transform: scale(0.95);
    transition: var(--transition);
    max-height: 80vh;
    overflow-y: auto;
}

.qualification__popup.active .qualification__popup__content {
    transform: scale(1);
}

.close__about-popup {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 1.8rem;
    cursor: pointer;
    color: var(--color-light);
    transition: var(--transition);
    background: none;
    border: none;
    padding: 0;
}

.close__about-popup:hover {
    color: var(--color-white);
    transform: rotate(90deg);
}

.popup-header {
    margin-bottom: 1.5rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--color-primary-variant);
}

.popup-header h1 {
    font-size: 1.5rem;
    color: var(--color-white);
    margin-bottom: 0.5rem;
}

.qualification-type {
    color: var(--color-light);
    font-style: italic;
    font-size: 0.9rem;
}

.performance-summary {
    background: var(--color-primary-variant);
    border-radius: 8px;
    padding: 1.2rem;
    margin-bottom: 1.5rem;
}

.performance-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.performance-item {
    display: flex;
    flex-direction: column;
}

.performance-label {
    font-size: 0.8rem;
    color: var(--color-light);
    opacity: 0.8;
    margin-bottom: 0.3rem;
}

.performance-value {
    font-size: 0.95rem;
    color: var(--color-white);
    font-weight: 500;
}

.performance-item.highlight .performance-value {
    color: var(--color-white);
}

.performance-item.success .performance-value {
    color: var(--color-passed);
}

.performance-item.warning .performance-value {
    color: var(--color-red);
}

.modules-section {
    margin-top: 1.5rem;
}

.modules-section h3 {
    font-size: 1.2rem;
    color: var(--color-white);
    margin-bottom: 1rem;
    border-bottom: 1px solid var(--color-primary-variant);
    padding-bottom: 0.5rem;
}

.modules-list {
    columns: 2;
    column-gap: 2rem;
    margin-top: 0.5rem;
}

.modules-list li {
    break-inside: avoid;
    margin-bottom: 0.75rem;
    padding: 0.5rem;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--color-module-list);
    transition: var(--transition);
}

.modules-list li:hover {
    background: var(--color-bg);
}

.module-name {
    font-size: 0.9rem;
    color: var(--color-white);
    font-weight: 500;
}

.status-badge {
    padding: 0.25rem 0.5rem;
    border-radius: 12px;
    font-size: 0.75rem;
    font-weight: 600;
}

.status-badge.passed {
    background: var(--color-bg-passed);
    color: var(--color-passed)
}

.status-badge.failed {
    background: var(--color-bg-failed);
    color: var(--color-red);
}

.no-modules {
    color: var(--color-light);
    font-style: italic;
    font-size: 0.9rem;
}

/* ================= WORK EXPERIENCE STYLE ================= */
.work-experience__list {
    max-width: 800px;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.work-item {
    background: var(--color-primary-variant);
    padding: 1.5rem;
    border-radius: 8px;
    cursor: pointer;
    transition: var(--transition);
}

.work-item:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 12px var(--color-module-list);
}

.work-item__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
}

.work-period {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 0.9rem;
    color: var(--color-light);
}

.work-position {
    color: var(--color-primary);
    font-weight: 500;
    margin-bottom: 0.5rem;
}

.work-details {
    display: flex;
    gap: 1rem;
    font-size: 0.85rem;
}

.work-type {
    background: var(--color-module-list);
    padding: 0.25rem 0.75rem;
    border-radius: 12px;
}

.work-duration {
    color: var(--color-light);
}

/* ================= WORK POPUP STYLES ================= */
.work-details-summary {
    background: var(--color-primary-variant);
    border-radius: 8px;
    padding: 1.2rem;
    margin: 1.5rem 0;
}

.detail-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 0.5rem;
}

.work-details-list {
    grid-column: 1 / -1;
    display: flex;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 0.5rem;
    margin-bottom: 1rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.detail-item.highlight {
    grid-column: 1 / -1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1rem 0;
    border-top: 1px solid var(--color-bg-skill-item-beginner);
    border-top-left-radius: 8px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 0;
    margin-top: 0.5rem;
    width: 100%;
    box-sizing: border-box;
    margin-left: -1px;
    margin-right: -1px;
}

.detail-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 100px;
}

.detail-label {
    font-size: 0.8rem;
    color: var(--color-light);
    opacity: 0.8;
    margin-bottom: 0.3rem;
}

.detail-value {
    font-size: 0.7rem;
    color: var(--color-white);
    font-weight: 500;
}

.detail-item.highlight .detail-value {
    color: var(--color-primary);
    font-size: 1rem;
    align-items: center;
}

.work-description-section {
    margin: 1.5rem 0;
    padding: 1rem;
    background: var(--color-module-list);
    border-radius: 8px;
}

.work-description-section h3 {
    margin-bottom: 0.5rem;
    color: var(--color-white);
}

.work-description-section .work-description-list li {
    color: var(--color-light);
}

.skills-section,
.employee-section {
    padding: 1rem;
    margin-top: 1.5rem;
    background: var(--color-module-list);
    border-radius: 8px;
    text-align: center;
}

.achievement-section {
    padding: 1rem;
    margin-top: 1.5rem;
    background: var(--color-approved);
    border-radius: 8px;
    text-align: center;
}

.skills-section span,
.employee-section span {
    font-size: 0.9rem;
    color: var(--color-light);
}

.achievement-name {
    font-size: 0.9rem;
    color: var(--color-light);
    margin-bottom: 0.5rem;
    text-align: center;
}

.achievement-level {
    display: block;
    font-size: 0.9rem;
    color: var(--color-light);
    margin-bottom: 0.5rem;
    text-align: center;
}

.proficiency-summary {
    font-size: 0.9rem;
    color: var(--color-light);
    margin-bottom: 1rem;
}

.work-details-list,
.work-description-list,
.skills-list,
.achievement-list,
.reference-contacts {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0.5rem 1rem;
    margin: 0;
    border-radius: 20px;
    border-bottom: 0.30px solid var(--color-primary-variant);
    align-items: center;
    gap: 0.5rem;
}


/*.work-details-list > li,
.work-description-list > li,
.skills-list > li,
.achievement-list > li {
    display: flex; 
    
}
*/
.reference-contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
    padding: 0;
}

.reference-contact-item {
    padding: 0.75rem 0;
    border: none;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
}


.reference-detail {
    margin-bottom: 0.5rem;
    width: 100%;
    display: flex;
    justify-content: center;
}

.reference-detail .reference-position {
    font-weight: 600;
    color: var(--color-white);
    text-align: center;
    font-size: 0.9rem;
}

.reference-contact {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    font-size: 0.9em;
    color: var(--color-light);
    flex-wrap: wrap;
    width: 100%;
}

.contact-item {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 0 1rem;
}

.contact-item:not(:last-child):after {
    content: "|";
    position: absolute;
    right: -0.75rem;
    color: var(--color-white);
}

.contact-label {
    font-weight: 600;
    color: var(--color-white);
    margin-bottom: 0.25rem;
    white-space: nowrap;
    font-size: 0.7rem;
}

.contact-label:after {
    content: ":";
    margin-left: 2px;
}

.contact-value {
    font-size: 0.9em;
    text-align: center;
    white-space: nowrap;
}

.skills-section { 
    text-align: center;
  }
  
  .skills-list {
    display: inline-flex; 
    justify-content: center;
    align-items: center;
    padding-top: 15px;
    flex-wrap: wrap;
    gap: 0.5rem;
    padding-top: 1rem;
    margin: 0.5rem auto 0;
    list-style: none;
    max-width: 600px;
  }
  
  .skill-item {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    padding: 0.3rem 0.8rem;
    margin: 0;
    transition: transform 0.2s, box-shadow 0.2s;
    white-space: nowrap;
    flex-shrink: 0;
  }
  
.skill-name {
    font-size: 0.8rem;
    color: inherit;
    opacity: 0.9;
    margin-right: 0.3rem;
    white-space: nowrap;
}

.skill-level {
    font-weight: 600;
    font-size: 0.7rem;
    text-transform: capitalize;
    opacity: 0.9;
}

.skill-item.beginner {
    background: var(--color-bg-skill-item-beginner);
    color: var(--color-skill-beginner);
    border: none;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
}

.skill-item.intermediate {
    background: var(--color-bg-skill-item-intermediate);
    color: var(--color-skill-intermediate);
    border: none;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
}

.skill-item.advanced {
    background: var(--color-bg-skill-item-advanced);
    color: var(--color-skill-advanced);
    border: none;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
}

.skill-item.expert {
    background: var(--color-bg-skill-item-expert);
    color: var(--color-skill-expert);
    border: none;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius:24px;
    
}

.no-records-message {
    padding: 2rem;
    text-align: center;
    color: var(--color-light);
    font-style: italic;
    background: var(--color-primary-variant);
    border-radius: 8px;
    margin: 2rem auto;
    max-width: 600px;
}

.qualification__error {
    padding: 2rem;
    text-align: center;
    color: var(--color-light);
    font-style: normal;
    border-radius: 8px;
    margin: 2rem auto;
    max-width: 600px;
}

/* ================= MEDIA QUERIES ================= */
@media screen and (max-width: 1024px) {
    .qualification__content.left .qualification__connector {
        left: 100%;
        bottom: -10px;
    }

    .qualification__content.right .qualification__connector {
        right: 100%;
        bottom: -10px;
    }
}


@media screen and (max-width: 768px) {

    .qualification__popup__content {
        padding: 1.5rem;
        width: 95%;
    }

    .performance-grid {
        grid-template-columns: 1fr;
    }

    .modules-list {
        columns: 1;
    }

    .reference-contact {
        flex-direction: column;
        gap: 0.5rem;
    }

    .contact-item {
        flex-direction: column;
        gap: 2px;
    }
}

@media screen and (max-width: 480px) {
    #qualification {
        padding-top: 0.5rem;
        margin-top: -3rem;
        margin-bottom: 0;
    }

    .qualification__timeline {
        position: relative;
        padding-left: 30px;
        margin-bottom: 2rem;
    }

    .qualification__timeline::after {
        content: "";
        position: absolute;
        width: 2px;
        background: var(--color-primary);
        top: 10px;
        bottom: 0;
        left: 37px;
        transform: none;
        z-index: 0;
    }

    .qualification__item {
        flex-direction: column;
        align-items: flex-start;
        position: relative;
        padding-left: 20px;
        margin-bottom: 2rem;
    }

    .qualification__dot {
        display: block;
        position: absolute;
        left: 0;
        top: 15px;
        transform: translateY(-50%);
        width: 16px;
        height: 16px;
        background: var(--color-primary);
        border-radius: 50%;
        z-index: 1;
    }

    .qualification__content {
        width: 90%;
        margin: 0.5rem 0;
        padding: 1rem;
        background: var(--color-primary-variant);
        border-radius: 8px;
        box-shadow: 0px 4px 10px var(--color-module-list);
    }

    .qualification__content.left,
    .qualification__content.right {
        text-align: left;
        margin: 0.5rem 0;
    }

    .qualification__connector {
        display: none;
    }

    .popup-header h1 {
        font-size: 1.3rem;
    }

    .qualification-type {
        font-size: 0.8rem;
    }

    .performance-label {
        font-size: 0.75rem;
    }

    .performance-value {
        font-size: 0.85rem;
    }

    .modules-section h3 {
        font-size: 1.1rem;
    }

    .module-name {
        font-size: 0.85rem;
    }

    .status-badge {
        font-size: 0.7rem;
    }

    .work-details-list {
        gap: 0.3rem;
    }

    .detail-item {
        flex-direction: column;
        min-width: 70px
    }

    .skills-list {
        flex-wrap: wrap;
    }

    .reference-contact:not(:last-child):after,
    .contact-label:after,
    .contact-item:not(:last-child):after {
        content: none;
    }


    .reference-contact {
        flex-direction: column;
        gap: 10px;
    }

    .contact-item {
        flex-direction: column;
        gap: 2px;
    }

    .skill-item.beginner,
    .skill-item.intermediate,
    .skill-item.advanced,
    .skill-item.expert  {
        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;
        border-top-right-radius: 12px;
        border-top-left-radius: 12px;
    }
    
    

}

@media screen and (min-width: 300) {
    #qualification {
        padding-top: 0.5rem;
        margin-top: -2rem;
        margin-bottom: 0;
    }
}